language: python

sudo: false

python:
  - 3.5
  - 3.6

env:
  global:
    - PACKAGENAME="nbjekyll"

before_install:
# Here we download miniconda and install the dependencies
- sudo apt-get update
- wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
- chmod +x miniconda.sh
- ./miniconda.sh -b
- export PATH=/home/travis/miniconda/bin:$PATH
- conda config --set always_yes yes
- conda update conda
- conda info -a
- conda env create -f testenv.yml
- source activate testenv

install:
- python setup.py install

script:
- pytest $PACKAGENAME
